<div class="container">

  <li><strong>Name:</strong> <%= @restaurant.name %></li>
  <li>Category: <%= @restaurant.category %></li>
  <li>Address: <%= @restaurant.address %></li>
  <li>Phone Number: <%= @restaurant.phone_number %></li>


  <h2>Reviews (<%=  @restaurant.reviews.size %>)</h2>
  <% @restaurant.reviews.each do |review| %>
  <li>Rating: <%= review.rating %></li>
  <li>Content: <%= review.content %></li>
  <% end %>

  <%= link_to 'Add review', new_restaurant_review_path(@restaurant), class: "btn btn-primary"  %>



  <%= link_to 'Home', restaurants_path(@restaurant), class: "btn btn-primary"  %>
</div>
